.experienciaSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #0e0e17;
  justify-content: center;
  align-items: center;
}
.backExperiencia {
  position: relative;
  display: inline-block;

  padding: 0.5rem 1.2rem;
  background-color: #0e0e17;
  border: 2px solid #ffce01;
  clip-path: polygon(
    12px 0%,
    100% 0%,
    100% 100%,
    calc(100% - 12px) 100%,
    calc(100% - 12px) 85%,
    12px 85%,
    12px 100%,
    0% 100%,
    0% 0%
  );
  box-shadow: 0 0 12px #ffce01aa, inset 0 0 12px #0e0e17;
  animation: fadeInTag 1s ease-in-out;
}

.experiencia {
  font-family: "Orbitron", sans-serif;
  font-size: 1.6rem;
  color: #ffce01;
  text-shadow: 0 0 4px #ffce01;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.backExperiencia::before {
  content: "";
  position: absolute;
  left: -12px;
  top: 10%;
  width: 3px;
  height: 80%;
  background-color: #ffce01;
  box-shadow: 0 0 10px #ffce01, 0 0 20px #ffce01;
}

/* Animación flotante + glitch sutil */
@keyframes floatGlitch {
  0% {
    transform: translateY(0px) scale(1);
    box-shadow: 0 0 12px #ffce01aa;
  }
  50% {
    transform: translateY(-2px) scale(1.01);
    box-shadow: 0 0 16px #ffce01cc;
  }
  100% {
    transform: translateY(0px) scale(1);
    box-shadow: 0 0 12px #ffce01aa;
  }
}

.imgCard {
  width: 300px;
  height: auto;
  clip-path: polygon(100% 0, 100% 390px, 270px 100%, 0 100%, 0 0);
}
