.contactoSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 600px;
  align-items: center;
  margin-top: 100px;

  background-color: #0e0e17;
  margin-bottom: 100px;
}

.messageContainer {
  width: 1050px;
  height: auto;
  display: flex;
  flex-direction: row;
  padding-left: 5%;
}

.pfp {
  width: 98%;
  clip-path: polygon(100% 0, 100% 94%, 12% 94%, 1px 85%, 0 0);
}

.imgContainer {
  width: 175px;
  height: 231px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f75049;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 20px 100%, 0 204px);
}
.topBarContainer {
  position: relative;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.topBarBack {
  position: absolute;
  height: 35px;
  background-color: #f75049;
  width: 175px;
  clip-path: polygon(
    13% 10px,
    21% 10px,
    25% 0,
    100% 0,
    100% 100%,
    0 100%,
    0 0,
    10% 0
  );
}

.topBar {
  position: absolute;
  height: 29px;
  background-color: #840702;
  width: 167px;
  clip-path: polygon(
    9% 10px,
    21% 10px,
    25% 0,
    100% 0,
    100% 100%,
    0 100%,
    0 0,
    11px 0
  );
  z-index: 20;
}
.topContactContainer {
  display: flex;
  flex-direction: row;
}
.imageTextContainer {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.contentContainer {
  padding: 20px;
}
.newMessageContainer {
  display: flex;
  flex-direction: row;

  align-items: center;
  gap: 10px;
}

.responseContainer {
  margin-top: 18px;
  width: 802px;
  height: 302px;
  position: absolute;
  clip-path: polygon(
    47px 10%,
    44% 10%,
    100% 10%,
    100% 100%,
    7% 100%,
    0 90%,
    0 10%,
    0 0
  );
  background-color: #0e0e17;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  z-index: 2;
}

.responseContainerBack {
  margin-left: -1px;
  margin-top: 16px;
  width: 804px;
  height: 306px;
  position: absolute;
  clip-path: polygon(
    47px 10%,
    44% 10%,
    100% 10%,
    100% 100%,
    7% 100%,
    0 90%,
    0 10%,
    0 0
  );
  z-index: 1;
  background-color: #ffcf00;
}

.newMessage {
  color: #ffd900;
  text-shadow: 0px 4px 4px rgba(255, 128, 0, 1);
}

.name {
  color: #f75049;
  text-shadow: 0px 0px 7px rgba(247, 80, 73, 1);
}

.responseText {
  font-family: "VT323", monospace;
  color: #00ff88;
  font-size: 20px;
  padding: 1rem;
  border-left: 4px solid #00ff88;

  white-space: pre-wrap;
  overflow: hidden;
}

.footerText {
  display: flex;
  flex-direction: row;
  color: #ffce01;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 100px;
  margin-left: 10px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.messageContainer {
  animation: fadeInUp 1s ease forwards;
}

.contactButtons {
  margin-top: 70px;
}
.cyberButton {
  font-family: "Orbitron", sans-serif;
  background: transparent;
  border: 2px solid #ffc700;
  color: #ffc700;
  padding: 10px 20px;
  text-transform: uppercase;
  margin: 10px;
  transition: 0.3s ease;
  box-shadow: 0 0 10px #ffc700aa;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.cyberButton:hover {
  background-color: #ffc700;
  color: #0e0e17;
  box-shadow: 0 0 5px #ffc700, 0 0 10px #ffc700;
}

@media (max-width: 600px) {
  .messageContainer {
    width: 95%;
    padding: 0px;
  }

  .responseContainer {
    margin-top: 19px;
    margin-left: -8px;
    width: 95%;
  }
  .responseContainerBack {
    margin-left: -10px;
    width: 96%;
  }

  .contactButtons {
    margin-top: 35px;
    display: flex;
    flex-direction: row;
  }
  .cyberButton {
    width: 130px;
  }
  .name {
    font-size: 1.5rem;
  }

  .newMessage {
    font-size: 1.1rem;
  }

  .responseText {
    font-size: 14px;
  }

  .cyberButton {
    font-size: 13px;
    padding: 8px 14px;
  }

  .imgContainer {
    width: 130px;
    height: 180px;
    clip-path: polygon(100% 0, 100% 94%, 12% 94%, 1px 85%, 0 0);
  }

  .pfp {
    width: 98%;
    clip-path: polygon(100% 0, 100% 90%, 12% 90%, 1px 81%, 0 0);
  }

  .topBarContainer {
    height: 32px;
    width: 130px;
  }
  .topBar {
    width: 98%;
    height: 28px;
  }
  .topBarBack {
    width: 130px;
    height: 32px;
  }
}
